# DIA scraper environment settings
BASE_URL=https://www.dia.es
TOMATOES_URL=/verduras/tomates-pimientos-y-pepinos/c/L2023
OIL_URL=/aceites-salsas-y-especias/aceites/c/L2046
EGGS_URL=/huevos-leche-y-mantequilla/huevos/c/L2055

# Flask development server
FLASK_APP=app.py
FLASK_DEBUG=1
FLASK_RUN_HOST=127.0.0.1
FLASK_RUN_PORT=5000
